#homeButton {background-color:#88aaff;}
#systemButton {background-color:lightgreen;}
#monitorButton {background-color:#88aa00;}
#navigateButton {background-color:#00aaff;}

#ul {background-color:#ffaa88;}
#uu {background-color:#88aaff;}
#ur {background-color:#ffaa88;}

#ml {background-color:#88aaff;}
#mm {background-color:black;}
#mr {background-color:#88aaff;}

#ll {background-color:#ffaa88;}
#lm {background-color:#88aaff;}
#lr {background-color:#ffaa88;}
