* {margin:0;padding:0;}
body {font-family: Helvetica, Arial, sans-serif;font-size:medium;
padding:0 0.25em 0.25em;}
img {border:0;margin:0px;padding:0px;}
a {font-weight:bold;text-decoration:none;color:black;}
ul {margin:0;padding:0;list-style-type:none;}
h1 {}
p {clear:both;}
p.spacer {margin:0.5em;clear:both;}
#header {margin:0;padding:0.05em;}
#footer {margin:0;padding:0.05em;}

/* ***
  MENU START
  margin:width (100%) = menuMain + (menuButton * num_buttons) 
  NOTE: Total must always equal 100%; menuMain wraps menuButton(s)
*** */
.menuMain {margin:0.1em 10%;}
.menuButton {
padding:0.5em;
border:1px solid black;
margin:0.1em;
float:left;
width:20%;
text-align:center;
font-size:large;
font-weight:bold;
}
/* *** MENU END *** */

.navigateMenu {margin:0.1em 12.5%;}
.navigateButton {
padding:0.5em;
border:1px solid black;
margin:0;
float:left;
width:25%;
text-align:center;
font-size:large;
font-weight:normal;
}

.error404 {
padding:0.5em;
border:1px solid black;
margin:0.1em 5%;
float:left;
width:90%;
text-align:center;
background-color:red;
color:white;
}

#header {}
#message {}
#error {}
#content {}
#footer {}


/* experimental */
input[type=file] {visibility:hidden;}

hr {margin:1em 0;padding:0;display:block;height:1px;border:0;border-top:1px solid #ccc;}

#firstname, #lastname, #title, #company, #phone, #email {color:#666666;}
.blackfont {color:#000000; }


/* stock CSS */
.stock_font {font-family:sans-serif;font-size:xx-large;font-weight:bold;padding:0.25em;color:#0000aa;}
.nav_font {font-family:serif;font-size:x-large;padding:0.25em;color:#0000aa;}
.label_font {font-family:sans-serif;font-size:x-large;font-weight:bold;padding:0.25em;color:black;}
.ab_mobile {font-family:sans-serif;background-color:#dfdfdf;color:black;padding:10px;width:95%;border-radius:15px;text-align:left;vertical-align:top;}
.ac_mobile {font-family:sans-serif;background-color:#aaaaff;color:black;padding:10px;width:95%;border-radius:15px;text-align:left;vertical-align:top;}
.boxz {padding:3px;margin:3px;border:solid black 1px;}
.boxy {padding:3px;margin:3px;border:solid black 1px;background-color:white;}
.boxyB {padding:3px;margin:3px;border:solid black 1px;background-color:#88aaff;}
.boxyG {padding:3px;margin:3px;border:solid black 1px;background-color:lightgreen;}
input.buttonie {border:1px solid #006;background:#9cf;}
